@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}

.navbar-brand {
    font-size: 50px;
    color: #3d3d3d;
}

.navbar-link {
    text-decoration: none;
    color: #3d3d3d;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* ------------------------- MainContainer ------------------------*/

#maincontainer{
    margin: 100px auto;
    width: 60%;
    /* border: 1px solid black; */
}

img{
    object-fit: contain;
}