@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}

.navbar-brand {
    font-size: 50px;
    color: #3d3d3d;
}

.navbar-link {
    text-decoration: none;
    color: #3d3d3d;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* --------------------------- TOP BODY ---------------------------- */

#top-body {
    display: flex;
    width: 60%;
    max-height: auto;
    height: 600px;
    /* border: 1px solid black; */
    margin: 100px auto;
}

@media (max-width: 900px) {

    #top-body {
        width: 100%;
        flex-direction: column;
        height: auto;
        align-items: center
    }
}

#top-body-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    /* border: 1px solid black; */
}

@media (max-width: 900px) {
    #top-body-left {
        width: 100%;
        align-items: center
    }
}

#top-body-left-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
}

@media (max-width: 900px) {
    #top-body-left-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

#scrolldiv {
    margin-top: 30px;
    /* border: 1px solid black; */
    width: 200px;
    height: 30px;
}

#summary {
    width: 90%;
    /* border: 1px solid black; */
}

#top-body-right {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    #top-body-right {
        width: 100%;
        margin-top: 20px;
    }
}

#img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    border: 5px solid white;
    filter: grayscale(100%);
    border-radius: 50%;
    object-fit: contain;
    margin: 0 0 100px 0;
}

@media (max-width: 900px) {
    #img1 {
        max-width: 300px;
        max-height: 300px;
        margin-top: 50px;
    }
}

/* ---------------------------- ABOUT ------------------------------- */
.title {
    margin: auto;
    text-align: center;
}

@media (max-width: 900px) {
    #aboutmetitle {
        margin: -100px 0 0 0;
    }
}

#about-container {
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 60%;
    min-height: 700px;
    gap: 20px;
    /* border: 1px solid black; */
}

@media (max-width: 900px) {
    #about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }
}

#about-left {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: 1px solid black; */
}

@media (max-width: 900px) {
    #about-left {
        width: 80%;
    }
}

#about-left-img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    filter: grayscale(90%);
    border-radius: 20px;
    object-fit: contain;
}


#about-right {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    /* border: 1px solid black; */
}

@media (max-width: 900px) {
    #about-right {
        width: 80%;
        align-items: center;
    }
}

#aboutmecontext {
    width: 80%;
}

.btn-primary {
    display: flex;
    gap: 10px;
}

/* ----------------------- SKILLS ------------------------------- */
.hoverContainer {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 900px) {
    .hoverContainer {
        flex-direction: column;
        display: none;
    }
}

.hovercard {
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
    background-color:white;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    cursor: pointer;

    transition: 300ms ease-in-out;
}

.hovercard+.hovercard {
    margin-left: -10%;
}

.hovercard:hover {
    transform: rotate(-4deg);
}

.hovercard:hover~.hovercard {
    z-index: 1;
    translate: 60px;
}

/* ------------------ */

#skillstitle {
    margin: 50px 0;
}

#skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    height: 600px;
    max-height: 800px;
    width: 40%;
    /* border: 1px solid black; */
    gap: 20px;
}

@media (min-width: 900px) {
    #skills-container {
        display: none;
        width: 80%;
        margin: auto;
        min-height: 690px;
    }
}

/* ------------------------------Portfolio--------------------- */

#portfoliotitle {
    margin-top: 100px;
    /* border: 1px solid black; */
}

@media (max-width: 900px){
    #portfoliotitle{
        margin-top: 150px;
    }
}

#portfolio-container {
    margin: 50px auto;
    /* border: 1px solid black; */
    width: 50%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card-img-top {
    width: 100%;
    min-height: 290px;
     object-fit: contain; 
}

@media (max-width: 900px) {
    #portfolio-container {
        width: 100%;
    }
}

/* ------------------------------bottom------------------------ */

#bottom-container {
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

#bottom-menu-info {
    /* border: 1px solid white; */
    width: 30%;
    color: rgb(187, 183, 183);
    text-align: center;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
}

#createdby {
    margin-top: 100px;
    font-size: 12px;
}

#bottom {
    font-size: 202px;
}